
<!-- <img src="Hong Kong 01 06 Central District From Victoria Peak Nighttime.jpg" alt="Central" class="fp-image"> -->


<div id="tab-locations">
  <div class="row">
    <div class="col-xs-4 filter-box">
      <%= image_tag "illustrator/location_centralv.jpg" %>
    </div>
    <!-- <div class="grey-box">Central</div> -->
    <div class="col-xs-4 filter-box">
      <%= image_tag "illustrator/location_tstv.jpg" %>
    </div>
    <div class="col-xs-4 filter-box">
      <%= image_tag "illustrator/location_cwbv.jpg" %>
    </div>
  </div>
</div>

<div id="tab-cuisines" style="display:none;">
  <div class="row">
    <div class="col-xs-4 filter-box">
    <%= image_tag "cuisines/cuisines-chinese-cut.jpg"%>
    </div>
    <div class="col-xs-4 filter-box">
    <%= image_tag "cuisines/cuisines-japanese-cut.jpg"%>
    </div>
    <div class="col-xs-4 filter-box">
    <%= image_tag "cuisines/cuisines-westen-cut.jpg"%>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 cuisines-text">
    Chinese
    </div>
    <div class="col-xs-4 cuisines-text">
    Japanese
    </div>
    <div class="col-xs-4 cuisines-text">
    Westen
    </div>
  </div>

</div>

<div id="tab-reviews" style="display:none;">
  this will be the reviews tab.
</div>
