<div class="row">
  <h3 class="col-xs-8 col-xs-offset-2 bold-text">Order from 30 restaurants in Central</h3>
</div>


<div class="row">
  <div class="col-xs-8 col-xs-offset-2 restaurant-white-box">
    <!-- I WANT TO REPEAT THE FOLLOWING CODE FOR EACH ONE OF THE RESTAURANTS -->
    <% @restaurants.each do |restaurant| %>

      <div class="row">
        <div class="col-xs-12 restaurant-box">
          <!-- Restaurant Header -->
          <div class="row restaurant-header">
            <div class="col-xs-12 restaurant-name">
            <%= restaurant.name %>
            </div>
            <div class="col-xs-9 restaurant-location">
              <%= restaurant.location %>
            </div>
            <div class="col-xs-2 review-count">
              <%= restaurant.reviewcount %>
            </div>
          </div>

            <!-- Restaurant Main -->
          <div class="row restaurant-main">

            <div class="col-xs-3 logo-img">
              <%= image_tag(restaurant.logourl) %>
            </div>

            <div class="col-xs-6 restaurant-info">
              <p>
                <span class="restaurant-cuisine-type"><%= restaurant.cuisinetype %></span>
              </p>
              <p>
                <span class="restaurant-info-title">Delivery in:</span>
                <%= restaurant.deliverytime %>
              </p>
              <p>
                <span class="restaurant-info-title">Delivery cost:</span>
                <%= restaurant.deliverycost %>
              </p>
              <p>
                <span class="restaurant-info-title">Delivery min:</span>
                <%= restaurant.minimumorder %>
              </p>
              <p>
                <span class="restaurant-info-title">Payment type:</span>
                <%= restaurant.paymenttype %>
              </p>
            </div>
      
            <div class="col-xs-3">
              
                <%= link_to restaurant_path(restaurant), :class => "btn btn-lg btn-success go-to-menu" do %>
                  Go to Menu
                  <span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>
              
              <%#= button_to "Menu", menu_path, method: :get, :class="btn btn-sm btn-success" %>
            </div>
          </div>
        </div>
      </div>

      <!-- THIS IS THE END OF MY SINGLE RESTAURANT (GREY BOX) -->
    <% end %>

  </div>
</div>

