<div class="row">
  <div class="col-xs-2">
  </div>
  <h3 class="col-xs-8 bold-text">Order from 30 restaurants in Central</h3>
  <div class="col-xs-2">
  </div>
</div>

<div>
  <div class="row">

      <div class="col-xs-2">
      </div>

      <div class="col-xs-8 restaurant-white-box">


        <!-- I WANT TO REPEAT THIS CODE FOR EACH ONE OF THE RESTAURANTS -->
      <% @restaurants.each do |restaurant| %>

        <div class="col-xs-12 grey-box-outline">
          <div class="col-xs-12 dark-orange-box">

            <div class="col-xs-12 restaurant-name bold-text">
            <%= restaurant.name %>
            </div>

            <div class="row">
              <div class="col-xs-9 restaurant-location">
                <%= restaurant.location %>
              </div>
              <div class="col-xs-3 reviewcount">
                <%= restaurant.reviewcount %>
              </div>
            </div>

          </div>
          <div class="col-xs-12 light-orange-box">
            <div class="row restaurant-details">

              <div class="col-xs-3">
                <%= image_tag ("logo/shanghai.png") %>
              </div>

              <div class="col-xs-6">
                <div class="col-xs-12">
                   <div class="col-xs-4">
                  <%= restaurant.cuisinetype %>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="col-xs-4 bold-text">
                  Delivery in 
                  </div>
                  <div class="col-xs-8">
                  <%= restaurant.deliverytime %>
                  </div>
                </div>
                <div class="col-xs-12 bold-text">
                  <div class="col-xs-4 bold-text">
                  <%= restaurant.deliverycost %>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="col-xs-4 bold-text">
                  Delivery min:
                  </div>
                  <div class="col-xs-8">
                  <%= restaurant.minimumorder %>
                  </div>
                </div>
                <div class="col-xs-12">
                <%= restaurant.paymenttype %>
                </div>
                
              </div>
        
              <div class="col-xs-3 restaurant-button">Button
              <%#= button_to "Menu", menu_path, method: :get, :class="btn btn-sm btn-success" %>
              </div>

            </div>
          </div>
        </div>

      <!-- THIS IS THE END OF MY SINGLE RESTAURANT (GREY BOX) -->
      <% end %>

      </div>  

      <div class="col-xs-2">
      </div>
    </div>
  </div>

</div>

