<div class="row menu-text">

  <!-- the grey menu -->
  <div class="col-xs-8 menu">
    <div class="menu-header">
      <div class="row menu-restaurant-name">
      <%= @restaurant.name %>
      </div>
      <div class="row">
        <div class="col-xs-8 menu-restaurant-address">
        <%= @restaurant.location %>
        </div>
        <div class="col-xs-3">
        <%= @restaurant.reviewcount %>
        </div>
      </div>
    </div>
  
    <div class="menu-body"> 
      <div class="row">
        <!-- <div class="col-xs-12"> -->
          <div class="col-xs-3 restaurant-detail">
          <%= image_tag(@restaurant.logourl) %>
          </div>
          <div class="col-xs-8"> 
            <p>
                <span class="restaurant-cuisine-type">
            <%= @restaurant.cuisinetype %>
            </span>
            </p>
            <p>
                <span class="restaurant-info-title">Delivery in:
            <%= @restaurant.deliverytime %>
            </span>
            </p>
            <p>
                <span class="restaurant-info-title">Delivery cost:
            <%= @restaurant.deliverycost %>
            </span>
            </p>
            <p>
                <span class="restaurant-info-title">Delivery min:
            <%= @restaurant.minimumorder %>
            </span>
            </p>
            <p>
                <span class="restaurant-info-title">Payment type:
            <%= @restaurant.paymenttype %>
            </span>
            </p>
          <!-- </div> -->
        </div>
      </div>

        <div id="menu-button">
          <ul class="nav nav-tabs nav-justified">
            <li class="active" id="menu-button-menu"><a href="#">Menu</a></li>

            <li id="menu-button-reviews"><a href="#">Reviews</a></li>

            <li id="menu-button-info"><a href="#">Info</a></li>
          </ul>
        </div>
      
    <div id="tab-menu">
      <div class="row">
        <div class="col-xs-3 menu-dishes">
          <div>Burritos or Burrito Bowls</div>
          <div>Quesadillas</div>
          <div>Tacos</div>
          <div>Saladas</div>
          <div>Maxtras</div>
          <div>Beverages</div>
        </div>

        <div class="col-xs-8">
          <div class="menu-category-header">
            <div class="row dish-title1">
              Burritos or Burrito Bowls
            </div>
            <p class="row dish-description">
            All Burritos come in our freshly baked 12" flour tortilla with pico de gallo, our special blended cheese, sour cream, beans and rice unless stated otherwise. Burrito Bowls come with everything included in the burritos less the tortilla and served in a bowl.
            </p>
            <div class="row dish-image">
            Image
            </div>
          </div>


          <div class="menu-category-content">
            
            

            <div class="row dish-title2">
            Beef with Burritos or Burrito Bowls
            </div>

            <p class="row dish-description">
            Your choice between original, barbacoa and angus steak
            </p>
            
            <table class="table table-hover">

              <tr>
                <td class="col-xs-8">
                  Dishes individuals 1
                </td>
                  
                <td class="col-xs-2">
                $Price
                </td>

                <td class="col-xs-2">
                CheckBox
                </td>
              </tr>

              <tr>
                <td class="col-xs-8">
                  Dishes individuals 2
                </td>
                  
                <td class="col-xs-2">
                $Price
                </td>

                <td class="col-xs-2">
                CheckBox
                </td>
              </tr>

      
              <tr>
                <td class="col-xs-8">
                  Dishes individuals 3
                </td>
                  
                <td class="col-xs-2">
                $Price
                </td>

                <td class="col-xs-2">
                CheckBox
                </td>
              </tr>

            </table>
            
          </div>


        </div>
      </div>
    </div>

    <div id="tab-reviews" style="display:none;">
    This is the reviews page.
    </div>

    <div id="tab-info" style="display:none;">
    This is the info page.
    </div>

   </div> 
  </div>

  <div class="col-xs-3 col-xs-offset-1 your-order">

    <div class="row your-order-head">
      Your order
    </div>
    <div class="row your-order-body">
      <div class="col-xs-9">
      food
      </div>
      <div class="col-xs-3">
      amount
      </div>
    </div>
    
    <%= link_to "Process to Checkout", new_payment_path, :class => "btn btn-lg btn-success" %>
  </div>

</div>