<div class="row menu-text">
  <div class="col-lg-8 col-md-8 col-sm-12 menu">
    <div class="menu-header">
      <div class="row menu-restaurant-name">
        <%= @restaurant.name %>
      </div>
      <div class="row">
        <div class="col-lg-8 menu-restaurant-address">
          <%= @restaurant.location %>
        </div>
        <div class="col-lg-3">
          <%= @restaurant.reviewcount %>
        </div>
      </div>
    </div>
  
    <div class="menu-body"> 
      <div class="row">
        <div class="col-xs-4 restaurant-detail">
          <%= image_tag(@restaurant.logourl) %>
        </div>
        <div class="col-xs-8"> 
          <p>
            <span class="restaurant-cuisine-type">
              <%= @restaurant.cuisinetype %>
            </span>
          </p>
          <p>
            <span class="restaurant-info-title">
              Delivery in:
              <%= @restaurant.deliverytime %>
            </span>
          </p>
          <p>
            <span class="restaurant-info-title">Delivery cost:
              <%= @restaurant.deliverycost %>
            </span>
          </p>
          <p>
            <span class="restaurant-info-title">Delivery min:
              <%= @restaurant.minimumorder %>
            </span>
          </p>
          <p>
            <span class="restaurant-info-title">Payment type:
              <%= @restaurant.paymenttype %>
            </span>
          </p>
        </div>
      </div>

      <div id="menu-button">
        <ul class="nav nav-tabs nav-justified">
          <li class="active" id="menu-button-menu"><a href="#">Menu</a></li>
          <li id="menu-button-reviews"><a href="#">Reviews</a></li>
          <li id="menu-button-info"><a href="#">Info</a></li>
        </ul>
      </div>
      
      <div id="tab-menu">
        <div class="row">
          <div class="col-xs-3 menu-dishes">
            <div>
              Burritos or Burrito Bowls
            </div>
            <div>
              Quesadillas
            </div>
            <div>
              Tacos
            </div>
            <div>
              Saladas
            </div>
            <div>
              Maxtras
            </div>
            <div>
              Beverages
            </div>
          </div>

          <div class="col-xs-8">
            <div class="menu-category-header">
              <div class="row dish-title1">
                Burritos or Burrito Bowls
              </div>
              <p class="row dish-description">
                All Burritos come in our freshly baked 12" flour tortilla with pico de gallo, our special blended cheese, sour cream, beans and rice unless stated otherwise. Burrito Bowls come with everything included in the burritos less the tortilla and served in a bowl.
              </p>
              <div class="row dish-image">
                Image
              </div>
            </div>

            <div class="menu-category-content">
              <div class="row dish-title2">
                Beef with Burritos or Burrito Bowls
              </div>

              <p class="row dish-description">
                Your choice between original, barbacoa and angus steak
              </p>
            
              <table class="table table-hover">

                <% @dishes.each do|dish| %>

                  <% if dish.variations.count == 1 %>
                    
                    <tr class="append-dish">
                      <td class="col-xs-8 dish-name-menu">
                        <%= dish.name %>
                      </td>
                      <td class="dish-price-checkout">
                        <%= dish.variations.first.price %>
                      </td>
                      <td class="col-xs-2">
                        <%= link_to "Add", "javascript:void(0)", :class => "btn btn-success btn-xs append-to", "data-price" => "#{dish.variations.first.price}", "data-name-size" => "#{dish.name}", "data-id" => "#{dish.variations.first.id}" %>
                      </td>
                    </tr>
                  <% else %>
                    <tr>
                      <td colspan="3" class="dish-name-menu">
                        <%= dish.name %>
                      </td>
                    </tr>
                    <% dish.variations.each do |variation| %>
                      <tr class="append-dish">
                        <td class="col-xs-8 size-indent">
                          <%= variation.size %>
                        </td>
                        <td class="dish-price-checkout">
                          <%= variation.price %>
                        </td>
                        <td class="col-xs-2">
                          <%= link_to "Add", "javascript:void(0)", :class => "btn btn-success btn-xs append-to", "data-price" => "#{variation.price}", "data-name-size" => "#{dish.name} - #{variation.size}", "data-id" => "#{variation.id}" %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>    
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      <div id="tab-reviews" style="display:none;">
        This is the reviews page.
      </div>

      <div id="tab-info" style="display:none;">
        This is the info page.
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12">
    <table id="order-table" class="table your-order">
      <thead>
        <tr class="your-order-head">
          <th colspan="2" id="your-order-head-title">
            Your Order 
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="total-price-checkout-box">
      <span>
        HK$
      </span>
      <span id="total-price">
        $--.--
      </span>
    </div>
    <div id="restaurant-checkout-button">
      <%= link_to "Process to Checkout", new_payment_path, :class => "btn btn-lg btn-success checkout-button-dishes" %>
    </div>
  </div>
</div>